@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-repeat: no-repeat;
  background-position: 0 0, left center, right 80%;
  background-size: 100%, 130px, 130px;
  background-color: #E3EAFF;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__img {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.header__img img {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 100%;
  padding: 20px;
  border: 5px solid white;
}
.header__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.header__title p {
  border: 5px solid white;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 15px;
  padding: 20px;
}

.container {
  padding: 0 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.main__first {
  border: 5px solid white;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
}
.main__first input, .main__first label {
  font-weight: bold;
}
.main__first p {
  font-weight: bold;
}
.main__inputs {
  border: 1px solid #D3D3D3;
  padding: 10px 20px;
  display: block;
  width: 100%;
  border-radius: 24px;
  background-color: white;
}
.main__firstQuestion {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.btn__submit {
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #7078FF;
  font-size: 20px;
  padding: 5px 40px;
  transition: background-color 0.3s ease-in-out 0s;
  cursor: pointer;
}
.btn__submit:hover {
  background-color: #151744;
}

.inputMar {
  margin-top: 14px;
  display: flex;
}
.inputMar input {
  margin-right: 10px;
  display: inline-block;
}
.inputMar label {
  display: block;
}

textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

#loading-overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay__img {
  margin-bottom: 30px;
  animation-name: loadingImg;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;
  animation-fill-mode: none;
}
.overlay__loading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;
  animation-fill-mode: none;
}

@keyframes loadingText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loadingImg {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.success {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.success__img {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: -450px;
}
.successLoadingActive {
  animation-name: successLoading;
  animation-duration: 3.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;
  animation-fill-mode: none;
}

@keyframes successLoading {
  0% {
    margin-bottom: -450px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -450px;
  }
}